/*
:root{
    --cor1: #fffaff;
    --cor2: #dfe3eb;
    --cor3: #00a7e1;
    --cor4: #003459;
    --cor5: #00171f;
}
*/
 
/* Estilos do contêiner principal */
.container {
    display: flex;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

/* Estilos da seção esquerda */
.leftSide {
    background-color: #00a7e1;
    color: #fffaff;
    padding: 40px;
    width: 35%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: #00171f28 1px 1px 3px;
}

/* Estilos do título na seção esquerda */
.leftSide h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    height: 100px;
}

/* Estilos do parágrafo na seção esquerda */
.leftSide p {
    font-family: 'Poppins-Medium';
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 60px;
}

.bemVindo {
    font-family: 'Poppins-Bold' !important;
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important; 
    height: 60px !important;
}

/* Estilos da seção direita */
.rightSide {
    background-color: #fffaff;
    color: #003459;
    padding: 40px;
    width: 65%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos do título na seção direita */
.rightSide h2 {
    font-size: 3rem;
    margin: 1rem;
    height: 150px;
}

/* Estilos do grupo de inputs */
.inputGroup {
    position: relative;
    margin-bottom: 20px;
    width: 170%;
    right: 35%;
}

/* Estilos do ícone nos inputs */
.inputGroup .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(80%, -40%);
    color: #003459;
}

/* Estilos dos inputs */
.inputGroup input {
    font-family: 'Poppins-Medium';
    width: 100%;
    padding: 15px 15px 15px 40px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #dfe3eb;
    color: #003459;
}

.inputGroup input::placeholder{
    transform: translateX(15px);
}

/*Estilo dos botões*/
.btn {
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 60px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

/* Estilos do botão na seção esquerda */
.leftSide .btn {
    background-color: #003459;
    width: 35%;
    margin-bottom: 16%;

}

/* Estilos do botão de cadastrar */
.rightSide .btn {
    background-color: #00a7e1;
    width: 80%;
    margin-bottom: 28%;
}

.btn:hover{
    transform: translate(0px, -6px);
    box-shadow: #33333346 2px 2px 4px;
}