.card {
    margin-top: 20px;
    border-radius: 8px;
    padding: 6px 16px;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    background-color: #fffaff;
    color: #00171f;
    font-family: 'Poppins-Medium';
    transition: 0.5s;
    border: 2px solid #00a7e1;
     margin-left: 32px; /*aqui é só para alinhar pra minha tela */
}

.expandedCard {
    padding: 16px;
}

.collapsedCard {
    padding: 16px;
}

.info{
    border: 2px solid #00a7e1;
    padding: 0 16px 16px 16px;
    border-radius: 8px;
}

.button {
    background-color: #00a7e1;
    color: #fffaff;
    width: 100%;
    border-radius: 30px;
    border: none;
    padding: 6px 16px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
}

.button:hover{
    background-color: #003459;
    color: #00a7e1;
    transition: 0.5s;
}
  
.list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 16px 0;
}

.list li{
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 5px;
}