@font-face {
    font-family: 'Poppins-regular';
    src: url('/fonts/Poppins-1/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
}

.footer{
    width: 100%;
    background-color: #fffaff;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #00a7e1;
    box-shadow: -4px -1px 9px #d9d9d9;
}

.text{
    font-family: 'Poppins-regular';
}
