/* Estilos gerais */
.container {
    padding-top: 40px;
    background-color: #fffaff;
    font-family: "Poppins-ligtht", sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Menu lateral */
  .leftSide {
    background-color: #C8C8C8;
    color: #ffffff;
    padding: 0px;
    width: 80px;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Seção direita */
  .rightSide {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
  }
  