/*
:root{
    --cor1: #fffaff;
    --cor2: #dfe3eb;
    --cor3: #00a7e1;
    --cor4: #003459;
    --cor5: #00171f;
}
*/

/* Estilos para o container principal */
@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins-1/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #fffaff;
}

/*Estilos para o lado esquerdo*/
.leftside{
  height: 70%;
  color: #003459;
  font-family: 'Poppins-Medium';
}

.title{
  font-size: 4rem;
  font-weight: bolder;
  color: #00a7e1;
}

/* Estilos gerais para o formulário */
.loginBox{
  font-family: 'Poppins-Medium';
  background-color: #00a7e1;
  border-radius: 8px;
  padding: 40px;
  width: 30%;
  min-height: 45%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.LOGIN {
  text-shadow: #33333328 1px 1px 3px;
  font-size: 2.6rem;
  margin-bottom: 30px;
  color: #fffaff;
  display: flex;
  justify-content: center;
}

/* Estilos para os grupos de input */
.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  transform: translateX(80%);
  left: 10px;
  color: #003459;
}

/* Estilos para os campos de input */
.input {
  font-family: 'Poppins-Medium';
  font-weight: bold;
  background-color: #fffaff;
  border: none;
  margin: 10px 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1rem;
  width: 100%;
  color: black;
}

/* Estilos para o botão de Entrar */
.button {
  font-family: 'Poppins-Medium';
  background-color: #fffaff;
  color: #003459;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #003459;
  color: #fffaff;
  transition: 0.5s;
}

/* Estilos do link "Esqueci minha senha" na seção esquerda */
.forgotPassword {
  background-color: transparent;
  text-decoration: none;
  display: block;
  font-family: 'Poppins-Medium';
  color: #fffaff;
  margin: 10px 0px;
  padding: 10px;
  font-size: 1rem;
  text-shadow: #00171f28 1px 1px 3px;
  border: none;
  cursor: pointer;
}

.forgotPassword:hover{
  color: #003459;
  transition: 0.5s;
} 
