/*
:root{
    --cor1: #fffaff;
    --cor2: #dfe3eb;
    --cor3: #00a7e1;
    --cor4: #003459;
    --cor5: #00a7e1;
}
*/

/* Contêiner principal */
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-1/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins-1/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
}
  
.container {
    background-color: #fffaff;
    padding: 0;
    margin: 0;
    font-family: 'Poppins-Bold';
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Seção esquerda onde ficam o título e os botões */
.leftSide {
    padding: 40px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título dentro da seção esquerda */
.title {
    font-size: 3rem;
    color: #00a7e1;
    margin: 0;
    margin-right: 52%;
    text-align: left;
}

/* Contêiner dos botões dentro da seção esquerda */
.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 80%;
    min-width: 60%;
    margin: 20px;
}

/* Estilização dos botões dentro da seção esquerda */
.button {
    background-color: #00a7e1;
    color: #ffffff;
    padding: 45px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

/* Estilização do botão de cadastrar usuário */
.button5 {
    background-color: #00a7e1;
    color: #ffffff;
    padding: 45px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    grid-column: span 2; 
}

.button:hover {
    background-color: #003459;
    color: #00a7e1;
    transition: 0.5s;
}

.button5:hover {
    background-color: #003459;
    color: #00a7e1;
    transition: 0.5s;
}


/* Seção direita */
.rightSide {
    background-color: #00a7e1; /* Cor a definir */
    width: 35%;
    height: 100%;
    margin: 0;
}
