@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-1/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Título da Página */
.h2 {
    color: #00a7e1;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
    margin-top: 80px;
    text-align: center;
}

/* Container Principal */
.container {
    padding: 5px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Seção de Pesquisa */
.searchSection {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

/* Label da Pesquisa */
.searchLabel, .searchLabel2 {
    display: block;
    font-size: 1.2rem;
    color: #003459;
    margin-bottom: 10px;
    text-align: center;
}

/* Campo de Pesquisa */
.searchInputContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.searchInput {
    width: 100%;
    padding: 10px 16px;
    border-radius: 30px;
    border: 2px solid #00a7e1;
    font-size: 1rem;
    font-family: 'Poppins-Medium';
}

.searchInput::placeholder {
    color: #003459;
}

/* Ícone de Pesquisa */
.searchIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Contêiner do Input de Quantidade */
.containerInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

/* Input Centralizado */
.searchInput2 {
    width: 100%;
    max-width: 200px;
    padding: 6px 14px;
    border-radius: 30px;
    border: 2px solid #00a7e1;
    font-size: 1rem;
    text-align: center;
}

/* Botões de Incremento e Decremento */
.increment, .decrement {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
}

/* Ajuste de posição dos ícones */
.increment {
    right: 10px;
}

.decrement {
    left: 10px;
}

/* Botões de Ação */
.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

.button {
    background-color: #00a7e1;
    color: #fffaff;
    border: none;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 45%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #003459;
    color: #00a7e1;
}

/* Ajustes para Mobile */
@media (max-width: 768px) {
    .h2 {
        font-size: 1.2rem;
        margin-top: 100px;
        margin-left: 20px;
    }

    .searchSection {
        width: 85%;
    }

    .searchInput {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    .searchInput2 {
        font-size: 0.rem;
        padding: 6px 10px;
    }

    .increment, .decrement {
        width: 20px;
        height: 20px;
    }

    .buttonGroup {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .button {
        width: 100%;
        font-size: 0.9rem;
    }
}
